
<div id="dancerig">

<%= igs = Dancer.all.map { |r| r.ighandle  } %>
<%= dancerC = Dancer.all.map { |r| r.dancestyle } %>
<%= dancerIDelete = Igdancer.all.map { |r| r.ighandle }
Dancer.where(ighandle: dancerIDelete).delete_all %>
<%= dancerNDelete = Notdancer.all.map { |r| r.ighandle }
Dancer.where(ighandle: dancerNDelete).delete_all %>
</div>



<script>
    var igsData = <%= raw igs %>;
    var dancerC = <%= raw dancerC %>;
    var together = igsData.concat(dancerC);

    function openInstagram() {
        var a = together.lastIndexOf("");
        var b = a - 1;
        var c = b / 2;
        var d = together[c];
        window.open(`https://www.instagram.com/${together[c]}`);
        console.log(d);
        return d; // give us back the item of where we are now
    }
    var a = openInstagram();

    $(document).ready(function () {
        $('nobtn').on('click', function () {
            $.ajax({
                url: '/dancers/' + this.parentElement.id,
                type: 'DELETE',
                success: function (r) {

                }
            });
        });
    });
    function yesbtn() {
    }
    function nobtn() {
    }
    $(document).ready(function () {
        $('#nobtn').click(function () {
            $.ajax({
                url: "/notdancer",
                data: {
                    notdancer: {
                        ighandle: a,
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                    window.location.replace("/dancers/isadancer");
                    timedRefresh(5000);
                },
                type: 'POST'
            });
        });

        $('#yesbtn').click(function () {
            $.ajax({
                url: "/igdancer",
                data: {
                    igdancer: {
                        ighandle: a,
                        post: "",
                        followers: "",
                        following: "",
                        name: "",
                        bio: "",
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                success: function (data) {
                  setTimeout(function(){
                    location.href = "/dancers/isadancer";
                  }, 1000);
                },
                type: 'POST'
            });
        });
    })
    window.onload = function(){
      document.getElementById("dancerIghandle").innerHTML = a;
    }
</script>

<div class="container" id="isContainer">
    <br>
    <div class="jumbotron">
        <h2 class="display-4" id="title">Dancer Or Not A Dancer?</h2>
        <h2 id="dancerIghandle"></h2>
        <br>
        <button type="button" class="btn" id="GObtn" onclick="openInstagram()">Go To Dancer Page</button>
        <br>
        <br>
        <div id="myButtons">
        <button type="button" class="btnYes" id="yesbtn" onclick="yesbtn()">Yes</button>
        <button type="button" class="btn" id="nobtn" onclick="nobtn()">No</button>
        </div>
    </div>
</div>
