<!DOCTYPE html>
<html>
  <head>
    <title>Rmsdata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="navigation">
    <div id="navigation_logo">
      <%= image_tag("rmslogo.png") %>
    </div>
    <div id="navigation_right">
      <th>
        <td><%= link_to 'NotDancers', "/notdancer/show",  :id => "navigation_text"%></td>
        <td><%= link_to 'IgDancers', "/igdancer/show",  :id => "navigation_text"%></td>
        <td><%= link_to 'Show', "/dancers/show",  :id => "navigation_text"%></td>
        <td><%= link_to 'New', new_dancer_url, :id => "navigation_text"%></td>
        <td><%= link_to 'Are you A Dancer', "/dancers/isadancer",  :id => "navigation_text"%></td>
      </th>
    </div>
  </div>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
